@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}
body{
	margin: 0;
	font-family: 'Roboto';
	background: #e1e3e4;
}
* {
    box-sizing: border-box;
}
header{
	background: #3f2860;
	width:100%;
	padding: 5px;
}
header .title{
	color:#FFF;
	font-weight: 500;
	font-size: 24px;
	padding: 0.6em;
	font-style: italic;
}
a{
	color: #fff;
	text-decoration: none;
}
.loader{
	width: 100px;
	height: 100px;
	margin: 8em auto;
}
.noPadding{
	padding:0 10px !important;
}
.sub-heading{
	background: #ef6d3b;
	padding: 0 !important;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.container{
	margin:auto 9%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
td{
	width: 50%;
}
.item{
	width: 33.33%;
	padding: 15px;
	vertical-align:top;
	display: inline-block;
}
.product{
	border:1px solid #7a9a75;
}
.product-info{
	background: url(../img/tile-bg.png);
	min-height: 110px;
    padding: 10px;
}
.clear{
	clear: both;
}
.product-image{
	min-height: 300px;
	display: block;
}
.product-image img{
	max-width: 100%;
	max-height: auto;
	margin: auto;
}
.product-name,.product-price,.product-cat,.product-score{
	font-weight: 500;
}
.product-name div,.product-price div,.product-cat div,.product-score div{
	float: left;
	width:50%;	
}
.product-name span,.product-price span,.product-cat span,.product-score span{
	float: left;
	width:50%;
	font-weight: 400;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bold{
	font-weight: bold;
}
.sort,.filters{
	padding:0 10px 0 0;
	float: left;
}
.styled-select {
   background-color: #fff;
   height: 29px;
   overflow: hidden;
   width: 10em;
}
.splitter{
	width: 1px;
	min-height: 20px;
	background: #000;
	float: left;	
}
.selected{
  color: #3f2860;
}
